body{
    font-family: NovaMono;
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
#map {
	width: 100%;
    height: 600px;
    margin: 0;
}
.results{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
}
.topbar{
     background-color: #a5a5a5;
     display: grid;
     grid-template-columns: 22% 8% 11% 28.6% 30%;
     column-gap: .1%;
     text-align: center;
     color: aliceblue;
}
.location1{
    background-color: #676767;
    font-size: 2em;

}
.location2{
    background-color: #676767;
    font-size: 1.2em;
}
.location3{
    background-color: #676767;
    font-size: 1.2em;
}
.date{
    background-color: #676767;
    font-size: 1.2em;
}
.searchbar{
    background-color: #676767;
}

.main{
    display: grid;
    grid-template-columns: 67.5% 30%;
    column-gap: 2.5%;
}
.mainleft{
    display: grid;
    grid-template-rows: 80vh 5vh;
    color: #707070;
}
.gridtop{
    background-color: #D6FF00;
    display: grid;
    grid-template-columns: .8fr 1fr .5fr;
    font-size: 1.5em;
}
.col1{
    display: grid;
    grid-template-rows: 12vh 12vh 12vh 12vh 12vh 12vh; 
    margin-left: 10px;
}
.uvindex{

}
.visibility{

}
.pressure{

}
.airquality{

}
.sunriseset{

}
.humidity{

}
.dewpoint{

}
.col2{
    display: grid;
    grid-template-rows: 40vh 10vh 0h;
    text-align: center;    
}
.temp{
    font-size: 12em;
    text-align: right;
    margin-top: 1vh;
}
.temp{
    margin: 0;
}
.feelslike{

}
.precipitation{

}
.clouds{

}
.col3{
    margin-top: 80px;
    margin-right: 10px;
}
.temp2{
    font-size: 4em;
    text-align: left;
}
.highlow{
    font-size: 1.5em;
}
.description{
    position: relative;
    background-color: #676767;
    height: 40px;
    color: aliceblue;
    text-align: center;
}
.mainright{
    display: grid;
    grid-template-rows: 56.5vh 8vh 19.5vh;
}
.map{
    background-color: #676767;
}
.wind{
    background-color: #D6FF00;
    text-align: center;
    padding-top: 2%;
}
.alerts{
    background-color: #FF3400;
    margin-top: 40px;
    text-align: center;
    padding-top: 0%;
    font-size: 3em;
}
.forcast{;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 40px;
}
.dayname{
    text-align: center;
    font-size: 1.5em;
}

.day1{
    border:5px solid aliceblue;
    border-radius: 5%;
    background-color: aliceblue;
}

.icon-50d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 90%;
}
.icon-13d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-11d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-10d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-09d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-04d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-03d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-02d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}
.icon-01d{
    background-image: url("/img/50d.png");  
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 80%;
}

/* */